@using Duende.IdentityServer.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="~/" class="navbar-brand">
                <img src="~/duende-logo.svg" class="icon-banner">
                Unify Identity
            </a>
            @if (!string.IsNullOrWhiteSpace(name))
            {
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/clients/clientsgrid" class="nav-link">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a href="/tenants/tenantsgrid" class="nav-link">Tenants</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Users</a>
                    </li>
                    <li class="nav-item">
                        <a href="/zoho/zohointegration" class="nav-link">Zoho Integration</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-5">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@name <b class="caret"></b></a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-page="/Account/Logout/Index">Logout</a>
                        </div>
                    </li>
                </ul>
            }
            else 
            {
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/account/login" class="nav-link">Log In</a>
                    </li>
                </ul>
            }
        </div>
    </nav>
</div>
